*.md linguist-language=php
*.yml linguist-language=php
*.html linguist-language=php
*.js linguist-language=php
*.xml linguist-language=php
*.css linguist-language=php
*.sql linguist-language=php
*.uml linguist-language=php
*.cmd linguist-language=php
