/*图片*/
.image_item{float:left;width:100px;height:100px;cursor:pointer;position:relative;margin:10px 20px 0 0;padding:4px;border:1px solid #ddd;background:#fff;display:flex;display:-webkit-box;align-items:center;-moz-box-align:center;-webkit-box-align:center;-moz-box-pack:center;-webkit-box-pack:center;}
.image_item .item-edit{position:absolute;top:-10px;left:-10px;cursor:pointer;height:22px;width:22px;line-height:22px;background:rgba(153,153,153,.7);border-radius:50%;text-align:center;color:#fff!important;display:none}
.image_item:hover .item-edit{display:block}
.image_item .item-edit:hover{background:#000}
.image_item .item-delete{position:absolute;top:-10px;right:-10px;cursor:pointer;height:22px;width:22px;line-height:22px;background:rgba(153,153,153,.7);border-radius:50%;text-align:center;color:#fff!important;display:none}
.image_item:hover .item-delete{display:block}
.image_item .item-delete:hover{background:#000}
.image_item img{max-width:100px;max-height:100px;border:0}
/*数组*/
.keyval_item{margin-bottom:10px;cursor:move;}
.keyval_item .layui-input-inline{width:150px;}
.keyval_item .layui-input-inline:first-child{width:100px;}
.keyval_item .layui-input-inline,.keyval_item .layui-form-mid{margin-right:5px;}
.keyval_item .layui-btn{padding:0 10px;}
.keyval-add{float:left;margin-right:10px;}
