.red{color:red}
.green{color:#16b777;}
/*滚动条*/
::-webkit-scrollbar{width:5px;height:8px}
::-webkit-scrollbar-button:vertical{display:none}
::-webkit-scrollbar-track:vertical{background:#000}
::-webkit-scrollbar-track-piece{background:#f6f6f6}
::-webkit-scrollbar-thumb:vertical{background:#d0d0d0}
::-webkit-scrollbar-thumb:vertical:hover{background:#3b3b3b}
::-webkit-scrollbar-corner:vertical{background:#535353}
::-webkit-scrollbar-resizer:vertical{background:#ff6e00}
/*进度条*/
.progress{width:100%;}
.progress ul{height:26px;line-height:26px;background:#f8f8f8;border-radius:13px;font-size:14px;text-align:center;position:relative;margin-bottom:30px}
.progress ul li{list-style:none;padding:0;margin:0;width:25%;float:left;border-radius:13px;position:relative;z-index:3}
.progress ul li .tip{font-size:13px;padding-top:10px;color:#8c8c8c}
.progress ul:after,.progress ul:before{content:"";position:absolute;z-index:2;left:0;top:0;bottom:0;border-radius:13px;background:#009688}
.progress ul:after{background:#00c5b3;z-index:1}
.progress ul.p-1:before{width:0}.progress ul.p-1:after{width:25%}
.progress ul.p-2:before{width:25%}.progress ul.p-2:after{width:50%}
.progress ul.p-3:before{width:50%}.progress ul.p-3:after{width:75%}
.progress ul.p-4:before{width:75%}.progress ul.p-4:after{width:100%}
.progress ul.p-5:before{width:100%}.progress ul.p-5:after{width:100%}
.progress ul.p-1 li:nth-child(-n+1){color:#fff}
.progress ul.p-2 li:nth-child(-n+2){color:#fff}
.progress ul.p-3 li:nth-child(-n+3){color:#fff}
.progress ul.p-4 li:nth-child(-n+4){color:#fff}
.progress ul.p-5 li{color:#fff}
/*主样式*/
.footer,.header,.main{width:960px;margin:0 auto}
.header{height:90px;margin-bottom:20px;background:url(logo.png) no-repeat 0 center;background-size:35%;}

.main{padding:0 10px}
.main .layui-table th{font-weight:700;font-size:14px}
.main .layui-table th:last-child,.main .layui-table td:last-child{padding-right:5px;text-align:right}
.main .layui-table td span{color:red;font-weight:bold;}
.main .upform{padding-left:80px;}
.main .upform h2{padding:20px 10px;font-size:16px;font-weight:bold;margin-left:-50px;}
.main .upform .layui-form-item .layui-input-inline{width:300px;}

.main .text{line-height:25px;color:#666;}
.main .text h1{text-align:center;font-size:20px;color:#333;}
.main .text h3{margin:6px 0;font-size:16px;color:#333;}
.main .note{width:400px;margin:100px auto 0}
.main .note .isok{width:400px;padding:150px 0 0 0;line-height:50px;background:url(ok.png) no-repeat;text-align:center;}
.footer{margin-top:20px;height:100px;border-top:1px solid #d2d2d2;background:#fff;position:relative}
.footer .copyright{float:left;line-height:60px;font-family:"Verdana";color:#aaa;font-size:13px;}
.footer .formBtn{width:200px;float:right;margin-top:15px;text-align:right}
.layui-form-label{width:90px;}